<%- include('partials/head') %>
<header>
    <%- include('partials/nav') %>
</header>
<main>
    <ul>
        <% images.forEach(function(image) { %>
            <li>
                <a href="#">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=avif" type="image/avif" height="<%= image.image.height %>" width="<%= image.image.width %>>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=webp" type="image/webp" height="<%= image.image.height %>" width="<%= image.image.width %>> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= image.image.id %>" alt="<%= image.title %>" height="<%= image.image.height %>" width="<%= image.image.width %>">
                    </picture>
                </a>
            </li>
        <% }) %>
        <% images.forEach(function(image) { %>
            <li>
                <a href="#">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=avif" type="image/avif" height="<%= image.image.height %>" width="<%= image.image.width %>>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=webp" type="image/webp" height="<%= image.image.height %>" width="<%= image.image.width %>> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= image.image.id %>" alt="<%= image.title %>" height="<%= image.image.height %>" width="<%= image.image.width %>" loading="lazy">
                    </picture>
                </a>
            </li>
        <% }) %>
        <% images.forEach(function(image) { %>
            <li>
                <a href="#">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=avif" type="image/avif" height="<%= image.image.height %>" width="<%= image.image.width %>>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=webp" type="image/webp" height="<%= image.image.height %>" width="<%= image.image.width %>> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= image.image.id %>" alt="<%= image.title %>" height="<%= image.image.height %>" width="<%= image.image.width %>" loading="lazy">
                    </picture>
                </a>
            </li>
        <% }) %>
        <% images.forEach(function(image) { %>
            <li>
                <a href="#">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=avif" type="image/avif" height="<%= image.image.height %>" width="<%= image.image.width %>>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=webp" type="image/webp" height="<%= image.image.height %>" width="<%= image.image.width %>> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= image.image.id %>" alt="<%= image.title %>" height="<%= image.image.height %>" width="<%= image.image.width %>" loading="lazy">
                    </picture>
                </a>
            </li>
        <% }) %>
        <% images.forEach(function(image) { %>
            <li>
                <a href="#">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=avif" type="image/avif" height="<%= image.image.height %>" width="<%= image.image.width %>>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= image.image.id %>?format=webp" type="image/webp" height="<%= image.image.height %>" width="<%= image.image.width %>> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= image.image.id %>" alt="<%= image.title %>" height="<%= image.image.height %>" width="<%= image.image.width %>" loading="lazy">
                    </picture>
                </a>
            </li>
        <% }) %>
    </ul>
</main>
<footer>
    <ul>
        <li>
            <% if (current == '/en') { %> 
                <button>All objects</button>
            <% } %> 
            <% if (current == '/ar') { %> 
                <button>جميع الكائنات</button>  
            <% } %>
        </li>
        <li>
            <% if (current == '/en') { %> 
                <button>Pottery</button>
            <% } %> 
            <% if (current == '/ar') { %> 
                <button>الفخار</button>
            <% } %>
        </li>
        <li>
            <% if (current == '/en') { %> 
                <button>Islamic art</button>
            <% } %> 
            <% if (current == '/ar') { %> 
                <button>الفن الإسلامي</button>
            <% } %>
        </li>
        <li>
            <% if (current == '/en') { %> 
                <button>Tapestry</button>
            <% } %> 
            <% if (current == '/ar') { %> 
                <button>نسيج</button>
            <% } %>
        </li>
        <li>
            <% if (current == '/en') { %> 
                <button>Glass</button>
            <% } %> 
            <% if (current == '/ar') { %> 
                <button>زجاج</button>
            <% } %>
        </li>
    </ul>
    <form>
        <label>
            <input type="search" placeholder="Search the collection">
        </label>
        <button type="submit">
            <span hidden="screen">Search</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 72 72"><path d="M 31 11 C 19.973 11 11 19.973 11 31 C 11 42.027 19.973 51 31 51 C 34.974166 51 38.672385 49.821569 41.789062 47.814453 L 54.726562 60.751953 C 56.390563 62.415953 59.088953 62.415953 60.751953 60.751953 C 62.415953 59.087953 62.415953 56.390563 60.751953 54.726562 L 47.814453 41.789062 C 49.821569 38.672385 51 34.974166 51 31 C 51 19.973 42.027 11 31 11 z M 31 19 C 37.616 19 43 24.384 43 31 C 43 37.616 37.616 43 31 43 C 24.384 43 19 37.616 19 31 C 19 24.384 24.384 19 31 19 z"/></svg>
        </button>
    </form>
    

</footer>
<button type="button">Load more</button>

<!-- <button class="left">left</button>
<button class="top">top</button>
<button class="right">right</button>
<button class="bottom">bottom</button>
<ul>
    <li>1</li>
</ul> -->
<%- include('partials/foot') %>