    <%- include('partials/head') %>
    <%- include('partials/radio') %>
    <div class="banner">
    <h3> Het laatste nieuws</h3>
    </div>
    <section class="news">
    <% articles.forEach(article => { %>
        <article class="article">
            <a href="<%=article.shareURL%>" target="_blank">
            <figure>
                <img src="<%= article.photo.URL %>" alt="" height=125 width=125 
                srcset="<%= article.photo.URL %>?height=125&width=125" type="image/avif" 
                srcset="<%= article.photo.URL %>?height=125&width=125" type="image/webp">
            </figure>
            <figcaption><%= article.title %></figcaption>
        </a>
        </article>
    <% }) %>
</section>
</main>
</body>
</html>